<div class="container">
  <div class="d-flex">
    <h1 class="flex-grow-1 py-1">All Spaces Available</h1>
    <div class="mt-4">
      <%= link_to "Create a new listing", new_listing_path, class: "btn btn-outline-success"%>
    </div>
  </div>


  <div class="container-card">
    <div class="row">
        <% @listings.each do |listing| %>
      <div class="col-ms-3 main-listing">
        <div class="card-listing">
          <% if listing.photo.key %>
            <%= cl_image_tag listing.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <div class="card-listing-infos">
            <div>
              <h2><%= link_to listing.listing_name, listing_path(listing) %></h2>
              <p><%= listing.listing_address %></p>
              <p><%= listing.listing_amenities %></p>
            </div>
            <h2 class="card-listing-pricing">£99.99</h2>
          </div>

        </div>
      </div>
          <% end %>
    </div>
        <%# <%= link_to "View listing", listing_path(listing), class: "btn btn-outline-success"%>
  </div>
</div>
