<div class="container hide-info">
  <div class="d-flex">
    <h1 class="flex-grow-1 py-1">All Spaces Available</h1>
    <div class="mt-4">
      <%= link_to "Create a new listing", new_listing_path, class: "btn btn-outline-success"%>
    </div>
  </div>
</div>

  <div class="container-card">

    <div class="row-listings">
      <% @listings.each do |listing| %>

      <div class="card-listing">
        <% if listing.photo.key %>
          <%= cl_image_tag listing.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-listing-infos">
          <div>
            <h2><%= link_to listing.listing_name, listing_path(listing) %></h2>
            <p><%= listing.listing_address %></p>
            <p><%= listing.listing_amenities %></p>
          </div>
          <h2 id="card-listing-pricing"> <%= listing.listing_price ? listing.listing_price : "Contact" %> </h2>
        </div>
      </div>
      <% end %>
    </div>

    <div style="width: 38%; flex-grow: 1;" class="col-12 col-ms-4" id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>


  </div>
