<div class="container">

  <%= link_to "Create a new list", new_listing_path, class: "btn btn-outline-success"%>

  <h1>All Spaces Available</h1>
  <ul class="listings">
    <% @listings.each do |listing| %>
    <li>
      <div class="card">
        <%= link_to listing.listing_name, listing_path(listing) %>
        <%= listing.listing_address %>
        <%= listing.listing_amenities %>
        <% if listing.photo.key %>
           <%= cl_image_tag listing.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>

</div>
