<h1>Listings#new</h1>
<p>Find me in app/views/listings/new.html.erb</p>

<div class="container">
<h1 class="py-3">Create a new listing!</h1>

<%= simple_form_for(@listing) do |f| %>
    <%= f.input :listing_name %>
    <%= f.input :listing_address %>
    <%= f.input :listing_description %>
    <%= f.input :listing_amenities %>
    <%# how do we rename the input for "main photos" and "other photos" %>
    <%= f.input :photo, as: :file %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class: "btn btn-outline-success"%>
<% end %>

</div>
