<div class="container">
<h1 class="py-3">Create a new listing!</h1>

<%= simple_form_for(@listing) do |f| %>
    <%= f.input :listing_name %>
    <%= f.input :listing_address %>
    <%= f.input :listing_description %>
    <%= f.input :listing_amenities %>
    <%= f.input :photo, as: :file, label: 'Main photo of your listing' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: 'Additional photos'  %>
    <%= f.button :submit, class: "btn btn-outline-success"%>
<% end %>

</div>
