<div class="container">
  <div class="d-flex mb-2 mt-3">
    <div class="flex-grow-1">
      <h1><%= @listing.listing_name %></h1>
      <div class="d-flex">
        <p class="card-subtitle text-muted"><%= @listing.listing_address %> ★ <%= @listing.reviews.length %> reviews </p>
      </div>
    </div>
    <div class="mt-4 me-3">
      <%= link_to "Back to all listings", listings_path, class: "btn btn-outline-success"%>
    </div>
  </div>

  <div class="img-grid">
    <% if @listing.photo.key && @listing.photos %>
      <%= cl_image_tag @listing.photo.key, height: 600, width: 600, crop: :fill, class: "img-grid-main" %>
      <%= cl_image_tag @listing.photos[0].key, height: 250, width: 250, crop: :fill %>
      <%= cl_image_tag @listing.photos[1].key, height: 250, width: 250, crop: :fill, class: "img-grid-tr" %>
      <%= cl_image_tag @listing.photos[2].key, height: 250, width: 250, crop: :fill %>
      <%= cl_image_tag @listing.photos[3].key, height: 250, width: 250, crop: :fill, class: "img-grid-br" %>
      <%# <div> %>
        <%# link_to "See all photos", listing_photos_path(@listing), class: "btn" %>
      <%# </div> %>
    <% end %>
  </div>

</div>

<div class="container gap-3">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card p-3">
        <h3 class="card-title">Listing Details</h3>
        <div>
          <p><%= @listing.listing_description %></p>
        </div>
         <div>
          <h3 class="card-subtitle mb-2 text-muted">Host:</h3>
          <p><%= @listing.user.first_name %></p>
        </div>
        <div>
          <h3 class="card-subtitle mb-2 text-muted">Available Amenities:</h3>
          <p><%= @listing.listing_amenities %></p>
        </div>
        <div>
          <h3 class="card-subtitle mb-2 text-muted">Host:</h3>
          <p><%= @listing.user.listing_hours %></p>
        </div>
        <div>
          <h3 class="card-subtitle mb-2 text-muted">Location:</h3>
          <p><%= @listing.listing_address %></p>
        </div>
      </div>

      <% if @listing.reviews.length > 0 %>
      <div class="card p-3 mt-3">
        <h3 class="card-subtitle">Reviews:</h3>
          <ul class="list-unstyled list-group list-group-flush mt-4">
            <% @listing.reviews.each do |review| %>
              <li class="list-group-item">
                <div class="my-3">
                  <p><em class="card-subtitle mb-2 text-muted">From:</em> <%= review.user.first_name %></p>
                  <p><em class="card-subtitle mb-2 text-muted">Comment:</em> <%= review.comment %></p>
                  <p><em class="card-subtitle mb-2 text-muted">Rating:</em> <%= review.rating %></p>
                </div>
              </li>
            <% end %>
          </ul>
      </div>
      <% end %>
    </div>

    <div class="col-12 col-lg-4">
      <div class=" bg-white border p-3 sticky-top">
        <h3 class="py-2">Book <%= @listing.listing_name %> for your event</h3>
        <%= simple_form_for [@listing, Booking.new], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime", action: "change->flatpickr#flatPickrChange" } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime", action: "change->flatpickr#flatPickrChange" } } %>
          <%= f.button :submit, "Reserve listing", class: "btn btn-outline-success"%>
        <% end %>
      </div>
    </div>
  </div>

</div>
