<%= link_to "Back to all listings", listings_path, class: "btn btn-outline-success"%>


<div class="container">
  <div class="page-header">
    <h1><%= @listing.listing_name %></h1>
  </div>
  <div class="container">
    <%# <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>
      <p><%= @listing.listing_description %></p>
      <p>Location: <%= @listing.listing_address %></p>
      <p>Available Amenities: <%= @listing.listing_amenities %></p>
    <div class="thumbnail">
      <% @listing.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    </div>
      <% end %>
  </div>

   <%= link_to "Delete listing", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-success"%>
</div>
