<div class="container">
  <div class="d-flex mb-3 mt-3">
    <h1 class="flex-grow-1"><%= @listing.listing_name %></h1>
    <div class="mt-2 me-3">
      <%= link_to "Back to all listings", listings_path, class: "btn btn-outline-success"%>
    </div>
  </div>

  <div class="img-grid">
    <% if @listing.photo.key %>
    <%= cl_image_tag @listing.photo.key, height: 600, width: 600, crop: :fill, class: "img-grid-main" %>
    <% end %>
    <% unless @listing.photos.empty? %>
      <% @listing.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 250, width: 250, crop: :fill %>
      <% end %>
    <% end %>
  </div>
    <% if @listing.reviews.length > 0 %>
      <div class="mt-3"></div>
        <h3>Reviews:</h3>
          <ul class="list-unstyled mt-4">
            <% @listing.reviews.each do |review| %>
              <li>
                <div class="card mb-3 p-3">
                  <p>From: <%= review.user.first_name %></p>
                  <p>Comment: <%= review.comment %></p>
                  <p>Rating: <%= review.rating %></p>
                </div>
              </li>
            <% end %>
          </ul>
    <% end %>
    </div>
</div>

<div class="d-flex container gap-3">
  <div class="details">
    <div>
      <label>Description:</label>
      <p><%= @listing.listing_description %></p>
    </div>
    <div>
      <label>Location:</label>
      <p><%= @listing.listing_address %></p>
    </div>
    <div>
      <label>Available Amenities:</label>
      <p><%= @listing.listing_amenities %></p>
    </div>
  </div>

  <div class="entry">
    <form action="">
      <div class="form-group">
        <label for="checkin">check-in:</label>
        <input type="date" id="checkin" name="checkin" class="form-control"/>
        <small id="emailHelp" class="form-text text-muted">Date of Arrival</small>
      </div>
      <div class="form-group">
        <label for="end">check-out:</label>
        <input type="date" id="checkout" name="checkout" class="form-control"/>
        <small id="emailHelp" class="form-text text-muted">Date of Departure</small>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Reserve!</button>
    </form>
  </div>
</div>
